.ace-thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ace-thumbnails>li {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 2px;
    border: 2px solid #333;
}
.ace-thumbnails>li>:first-child {
    display: block;
    position: relative;
}
.image-upload {
    max-height: 100px;
    min-height: 100px;
}
.ace-thumbnails>li>.tools {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    width: 24px;
    background-color: rgba(0,0,0,0.55);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.ace-thumbnails>li>.tools>a, .ace-thumbnails>li>:first-child .inner a {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    padding: 0 4px;
}
.ace-thumbnails>li:hover>.tools {
    left: 0;
}
.red{
    color:red;
}
.box .box-footer{
    clear: left;
}

.form-element{
    float:left;
    width:100%;
    margin-bottom:10px;
}
.gallery-container {
    float: left;
    width: 100%;
    clear: both;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn,.modal-footer .btn+.btn {
    margin-bottom:4px;
}

.file-progress {
    width: 100%;
    margin-top: 2px;
    height: 24px;
    float: left;
    display: none;
    margin-bottom: 0px;
}

input[type=file] {
    position: fixed;
    z-index: -2;
    opacity: 0;
}
label.right{
    text-align: right;
    line-height: 30px;
}

input[type=checkbox].ace+.lbl, input[type=radio].ace+.lbl {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: 400;
    cursor: pointer;
}

label input[type=checkbox].ace, label input[type=radio].ace {
    z-index: -100!important;
    width: 1px!important;
    height: 1px!important;
    clip: rect(1px,1px,1px,1px);
    position: absolute;
}

.table-responsive{
    clear:left;
}

a.add{
    margin:10px;
    color:white!important;
}
input[type=checkbox].ace-switch {
  width: 55px;
  height: 20px;
}
textarea.full{
    width:100%;
}
.chosen-container{
    margin-top: 3px;
}

input[type=checkbox].ace-switch + .lbl {
  margin: 7px 4px;
  min-height: 24px;
}
input[type=checkbox].ace-switch + .lbl::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "DA\a0\a0\a0\a0\a0\a0\a0\a0\a0NE";
  color: #999;
  font-weight: bold;
  font-size: 11px;
  line-height: 18px;
  line-height: 21px;
  /*ie9*/

  height: 18px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #F5F5F5;
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  text-align: left;
  float: left;
  padding: 0;
  width: 50px;
  text-indent: -19px;
  text-indent: -21px;
  margin-right: 0;
  -webkit-transition: text-indent .4s ease;
  -moz-transition: text-indent .4s ease;
  -o-transition: text-indent .4s ease;
  transition: text-indent .4s ease;
}
input[type=checkbox].ace-switch + .lbl::after {
  font-family: Arial, Helvetica, sans-serif;
  content: '|||';
  font-size: 10px;
  font-weight: lighter;
  color: #E5E5E5;
  background-color: #FFF;
  text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  border-radius: 12px;
  width: 22px;
  height: 22px;
  line-height: 20px;
  position: absolute;
  top: -2px;
  left: -3px;
  padding: 0;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: left .4s ease;
  -moz-transition: left .4s ease;
  -o-transition: left .4s ease;
  transition: left .4s ease;
}
input[type=checkbox].ace-switch:checked + .lbl::before {
  text-indent: 9px;
  color: #FFF;
  background-color: #8ab2c9;
  border-color: #468fcc;
}
input[type=checkbox].ace-switch:checked + .lbl::after {
  left: 34px;
  background-color: #FFF;
  color: #8ab2c9;
}

img.small-list{
  max-width:40px!important;
  max-height:40px!important;
}